:root {
  --body-bg-color: rgb(171 193 174);
  --body-bg-color-comps: 171, 193, 174;
  --board-bg-color: #8ea792;
  --board-bg-color-comps: 142, 167, 146;
  --front-color: #060e0c;
  --viper-blue: #2240c0;
  --viper-red: #ba143e;
  --viper-yellow: #ffb410;
  --viper-purple: #8c35ee;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  cursor: default;
  font-size: 10px;
  box-sizing: border-box;
  background-color: var(--body-bg-color);
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-size: 1.4rem;
  font-family: Teko, sans-serif;
  color: #fff;
}

#app {
  flex: 1;
  display: flex;
}
